:root{
  --grey:#b8b6b5;
  --red: #DC143C;
  --orange : #ff7f00;
  --salmon: #FFBC97;
  --white : #ffffff;
  --darkblue: #03404c;
  --footer:#07171b;
  --blue: #1f545b;
  --back: #FFFACD;
  --width: 400px;
}


html,body {
  background-color: var(--white);
  font-family: 'Work Sans', sans-serif;
  /*margin: 30px;*/
  overflow-x: hidden; /*B*/
  margin : 0; /*B*/
  padding : 0; /*B*/
}
h2{
  color: black;
  margin: 0 0 0 30px;
}

h3{
  color: var(--white);
}

p{
  margin: 10px;
}

/* MENU */

nav{
  text-align:center;
  padding: 10px;
  margin: 10px;
}

nav a{
  font-weight:500;
  text-transform:uppercase;
  text-decoration:none;
  color:var(--darkblue);
  margin:0 15px;
  font-size:110%;
  letter-spacing:1px;
  padding: 20px;

}
nav a:before{
  content:'';
  position: absolute;
  width: 100%;
  height: 3px;
  background:var(--darkblue);
  top:100%;
  animation:out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
nav a:hover:before{
  animation:in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
nav li {
  position:relative;
  display:inline-block;
}
@keyframes in{
  0%{
    width: 0;
    left:0;
    right:auto;
  }
  100%{
    left:0;
    right:auto;
    width: 100%;
  }
}
@keyframes out{
  0%{
    width:100%;
    left: auto;
    right: 0;
  }
  100%{
    width: 0;
    left: auto;
    right: 0;
  }
}
@keyframes show{
  0%{
    opacity:0;
    transform:translateY(-10px);
  }
  100%{
    opacity:1;
    transform:translateY(0);
  }
}

#active{
  display: none;
}

@media all and (max-width: 768px)
{
  .menu{
    display: flex;
    flex-direction: column;
  }

  .menu li{
    flex-grow: 1;
  }

  nav a:before{
    top:15%;
  }
  .wrapper{
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    background: #FFFACD;
    transition: all 0.6s ease-in-out;
  }
  .wrapper ul {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
  } 
  
  #active:checked ~ .wrapper{
    right:0;
  }
  .menu-btn{
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .menu-btn span,
  .menu-btn:before,
  .menu-btn:after{
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 30%;
    width: 40%;
    border-bottom: 2px solid var(--darkblue);
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .menu-btn:before{
    transform: translateY(-8px);
  }
  .menu-btn:after{
    transform: translateY(8px);
  }

  .close {
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: background .6s;
  }

  /* closing animation */
  #active:checked + .menu-btn span {
    transform: scaleX(0);
  }
  #active:checked + .menu-btn:before {
    transform: rotate(45deg);
    border-color: var(--darkblue);
  }
  #active:checked + .menu-btn:after {
    transform: rotate(-45deg);
    border-color: var(--darkblue);
  }
  /* a la

  /*nav label {
    width: 60px;
    display: flex;
    flex-direction: row; 
    justify-content: right;
    margin: 0 auto;
    font-size: 40px;
    color: var(--darkblue);
    cursor: pointer;
  }*/

  /*#toggle:checked + .menu
  {
    display: flex;
    position: relative;
    gap: 20px;
  }*/
}



@media screen and (max-width : 480px) {

 .titre-accueil h1{
    font-size: 200%;
  }
}

/* FOOTER */

footer{
  background: var(--footer);
  padding: 20px 0;
  margin-top: 30px;
  height: 100;
  /*position: absolute; */
  position: static; /*B*/
  bottom: auto; /*B*/
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color:white;
  height: 300px;
}

.footer-center{  
  color:white;
  margin: 5px;
}

.footer span{
  margin-right: 1rem;
}

.footer-center a:link,
.footer-center a:visited{
  display: block;
  color: white;
  font-size: 15px;
  transition: 0.3s;
}

.footer-center a:hover{
  color: var(--red);
}

.footer-center h3{
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 1rem;
  color: var(--orange)
}

@media only screen and (max-width: 480px){
  .footer-container {
  flex-direction: column;
  align-content: center;
  margin-left: 10px;
  }
}

/* DEBUT DU COPYRIGHT */

.copyright{
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  padding: 4rem 0 0;
  color: white;
}

/* FIN DU COPYRIGHT */