:root{
  --darkblue: #3d5a80;
  --salmon: #FFBC97;
  --yellow: #FFE300;
  --orange: #FF7800;
  --darkgrey: #293241;
  --background: #F7F7F7;
  --white : #ffffff;

  --burgrundy: #712E1E;
  --red: #712E1E;
  --blue: #888870;
  --back: #FFD5AF;
  --width: 400px;
}

html,body {
  background-color: var(--white);
  font-family: 'Work Sans', sans-serif;
  /*margin: 30px;*/
  overflow-x: hidden; /*B*/
  margin : 0; /*B*/
  padding : 0; /*B*/
}
h2{
  color: black;
  margin: 0 0 0 30px;
}

h3{
  color: var(--red);
}

/* MENU */

nav{
  text-align:center;
  padding: 10px;
  margin: 10px;
}

nav a{
  font-weight:500;
  text-transform:uppercase;
  text-decoration:none;
  color:var(--burgrundy);
  margin:0 15px;
  font-size:110%;
  letter-spacing:1px;
  padding: 20px;

}
nav a:before{
  content:'';
  position: absolute;
  width: 100%;
  height: 3px;
  background:var(--burgrundy);
  top:47%;
  animation:out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
nav a:hover:before{
  animation:in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;

}

nav li {
  list-style: none;
  position:relative;
  display:inline-block;
}
@keyframes in{
  0%{
    width: 0;
    left:0;
    right:auto;
  }
  100%{
    left:0;
    right:auto;
    width: 100%;
  }
}
@keyframes out{
  0%{
    width:100%;
    left: auto;
    right: 0;
  }
  100%{
    width: 0;
    left: auto;
    right: 0;
  }
}
@keyframes show{
  0%{
    opacity:0;
    transform:translateY(-10px);
  }
  100%{
    opacity:1;
    transform:translateY(0);
  }
}

nav label
{
    display: none;
}
nav label, #toggle
{
    display: none;
}

@media all and (max-width: 768px)
{
  nav
  {
    height: 60px;
  }
  nav .menu
  {
    display: none;
    flex-direction: column;
    background: var(--back);
    padding: 15px;        
  }
  nav .menu a
  {
    width: 50%;
    list-style-type: none;
  }

  nav a:before{
  content:'';
  position: absolute;
  width: 100%;
  height: 3px;
  background:var(--burgrundy);
  top:100%;
  animation:out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
nav a:hover:before{
  animation:in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;

}

  nav label {
    width: 60px;
    display: flex;
    flex-direction: row; 
    justify-content: right;
    margin: 0 auto;
    font-size: 40px;
    color: var(--burgrundy);
    cursor: pointer;
  }

  #toggle:checked + .menu
  {
    display: flex;
    position: relative;
    gap: 20px;
  }

  .footer{
  background: #232222;
  width: 100%; 
  padding: 5px 0;
  margin-top: 30px;
  position: static; /*B*/
  bottom: auto; /*B*/
  }

.footer-container {
  display: flex;
  flex-direction: row;
  color:white;
  }
}



@media screen and (max-width : 480px) {

 .titre-accueil h1{
    font-size: 200%;
  }
}

/* FOOTER */

.footer{
  background: #232222;
  width: 100%; 
  padding: 20px 0;
  margin-top: 30px;
  /*position: absolute; */
  position: static; /*B*/
  bottom: auto; /*B*/
}

.footer-container {
  display: flex;
  flex-direction: row;
  color:white;
}

.footer-center{
  /* margin: auto 120px; */
  padding: auto;
  color:white;
}


.footer span{
  margin-right: 1rem;
}

.footer-center a:link,
.footer-center a:visited{
  display: block;
  color: white;
  font-size: 15px;
  transition: 0.3s;
}

.footer-center a:hover{
  color: red;
}

.footer-center h3{
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 1rem;
}

/* DEBUT DU COPYRIGHT */

.copyright{
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  padding: 4rem 0 0;
  color: white;
}

/* FIN DU COPYRIGHT */