:root{
  --orange : #ff7f00;
  --red: #DC143C;
  --salmon: #FFBC97;
  --white : #ffffff;
  --darkblue: #03404c;
  --blue: #3d6f7e;
  --back: #FFFACD;
  --footer:#07171b;
  --formwidth: 400px;
}

#titre-accueil p {
  text-align: center;
  color: var(--orange)
}

#titre-accueil h1{
  font-size: 96px; /*B*/
  color: var(--darkblue);
  margin: 10%;
}


/* ---FORMULAIRE --- */

#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}

/* Bordered form */

option{
  margin: 15px;

}

/*#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}*/

/* Full-width inputs */
input[type=text], input[type=password], input[type=email], input[type=date], input[type=number], input[type=button], select {
    width: var(--formwidth);
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}



/* Set a style for all buttons */

input[type=submit] {
  background-color: var(--blue);;
  color: var(--white);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: var(--formwidth);
}

input[type=submit]:hover {
  background-color: var(--white);
  color: var(--blue);
  border: 1px solid var(--blue);
}

/* --- CONTACT --- */



.contact{
  display: flex;
  flex-direction: row;
  width: 100%;
}

/*.contact input {
  padding: 1% 10% 1% 1%;
  background-color: #e0e4ce;
  margin-bottom: 0.25%;
  border: none;
}

#button{
  background-color: black;
  color: white;
  padding: 2% 5% 2% 5%;
  margin-top: 2%;
  margin-left: 0;
  margin-bottom: 5%;
  cursor: pointer;
}*/

#imagee{
  width: 400px;
  /* position: relative; */ 
}

/* --- CONNEXION --- */

.Connex {
  display: flex;
  flex-direction: row;  
  justify-content: space-around;
  width: 100%;
  height: 700px;
  flex-grow:1;
  margin: 30px 0;
}

/*#connexion{
  height: 100%;
  display: flex;
  align-items: center;

}*/

#mdp {
  display: flex;
  justify-content: flex-end;
  font-size: 15px;
  color: blue;
  text-transform: uppercase;
  text-decoration: none;
}

#mdp::before {
  animation:none;
  background: none;
}

.connexionbtn{
  color: var(--white);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

#noaccount {
  background-color : var(--white);
  width: 100%;
  color: var(--blue);
}

#noaccount:hover{
  background-color: var(--blue);
  border: 1px solid var(--white);
  color: var(--white)
}

#pasdecompte {
  margin-bottom: 0;
}

#img_conx{
  width: 400px;
  height: 425px;
  margin: 40px;
}

@media screen and (max-width : 1100px) {

 #img_conx{
  display: none;
  }
}

/* --- ANNONCES ---  */

h1{
  font-size: 200%;
  color: var(--darkblue);
  text-align: center;
}

#description{
  height: 100px;
}

/* Bordered form */


.option{
  margin: 15px;
}

form {
  text-align: center;
  margin: 50px;
  width: var(--width);
  height: 350px;
  padding: 30px;
  border: 1px solid var(--white);
  background: var(--white);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#container h1{
  width: 38%;
  margin: 0 auto;
  padding-bottom: 10px;
}

/* Full-width inputs */


/* --- COMPTE --- */

.compte{
  width: 100%;
  height: 500px;
}

/* ARTICLE */

.compteur{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.countdown{
  width: 40%;
  height: 100px;
}

.annonces h3{
  padding: 20px;
  text-align: center;
}

.annonces{
  display: flex;
  flex-direction: column;
  background-color: var(--blue);
  margin: 10%;
  height: 800px;
  border-radius: 10px;
  overflow: hidden;
}
/*.slide{
  width: 500%;
  height: 400px;
  display: flex;
  align-items: center;
}*/

.annonce1, .annonce p, h5{
  font-size: 30px;
  color: var(--white);
}

/*.annonce {
  width: 20%;
  transition: 2s;
  
}
/*
.boutons{
  display: none;
}

.bouton{
  position: absolute;
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
*/

.idee{
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.idee a{
  color :var(--blue);
  font-weight: bold;
  text-decoration: none;
  font-size: 12px;
}

.idee a:hover{
  color :#293241;
}


/* COUNTDOWN */

.countdown{
  display: block;
  margin: 20px;
  border-radius:10px;

}

/* STYLE DU BOUTON DE PROPOSITION */

.btn{
  position: relative;
  background-color: var(--white);
  display: inline-block;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 0.5rem 1rem var(--darkblue);
  margin-top: 4rem;
  height: auto;
  width: auto;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
}

/* SLIDER */

/* Slideshow container */
.slide {
  position: relative;
  background: var(--blue);
}

/* Slides */
.annonce {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: var(--darkblue);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #788d94;
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: var(--darkblue);
}
